@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


@theme{
    --color-primary-700: #353535;
    --color-primary-500: #213448;
    --color-primary-300: #547792;
    --color-primary-100: #94B4C1;

    --color-accent: #007aff;
    --color-accent-dark: #0050a7;
    --color-dark: #232323;
    --color-light: #F7F7F7;
}

body{
    font-family: "Rubik", sans-serif;
    color: var(--color-light);
    background: linear-gradient(to bottom right, #27405a, #020c16)
}

html {
scroll-behavior: smooth;
}

.swiper-button-next, .swiper-button-prev{
    color: var(--color-light) !important;
}

.animated-arrows {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
}

.animated-arrows .arrow {
    width: 24px;
    height: 24px;
    margin-top: -18px;
    background-image: url(../assets/icons/light/arrow-down.svg);
    background-repeat: no-repeat;
    background-size: cover;
    animation-timing-function: steps(3);
}

.animated-arrows .arrow:nth-child(1) {
    animation: paint 3s infinite;
    z-index: 3;
}
.animated-arrows .arrow:nth-child(2) {
    animation: paint 3s infinite;
    animation-delay: 1s;
    z-index: 2;
}
.animated-arrows .arrow:nth-child(3) {
    animation: paint 3s infinite;
    animation-delay: 2s;
    z-index: 1;
}

@keyframes paint{
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
